html, body{
    height: 100%;
}

#page-content{
    flex: 1 0 auto;
}

body {
    background-image: linear-gradient(to right, pink, purple);
}

#sticky-footer{
    background-color: blueviolet;
    color: white;
    text-align: center;
    padding: 10px 0;
}
